<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>
<a th:href="@{/logout}">Logout</a>

<table border="1">
    <tr>
        <th>name</th>
        <th>lastName</th>
        <th>email</th>


    </tr>

    <tr th:each="lst : ${users}">
        <td th:utext="${lst.firstName}">name</td>
        <td th:utext="${lst.lastName}">model</td>
        <td th:utext="${lst.email}">email</td>
        <td th:utext="${lst.roleListToString}">role</td>


    </tr>
</table>
</body>
</html>